<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026597399805-55p28krtns3v5dglcn3tg82sv9l5o3u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026597399805-55p28krtns3v5dglcn3tg82sv9l5o3u4</string>
	<key>API_KEY</key>
	<string>AIzaSyBwg3q0I4eMnK89AxlIS2Xy6JmYDsA9aIM</string>
	<key>GCM_SENDER_ID</key>
	<string>1026597399805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.folkurr.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e28fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e28fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026597399805:ios:417939b2bc961fdeb02294</string>
</dict>
</plist>